@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, hr,a { margin:0; padding:0;border:none; }
fieldset, img { border:none; }
body{font-size:16px;}
img{display: block;}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol,li { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family:"Microsoft YaHei", "SimSun","宋体";}
hr{border: none;}
input::-moz-focus-inner { border:none; padding:0; }
select, input { vertical-align:middle; }
select, input, textarea { font-size:16px; margin:0;font-family:"Microsoft YaHei", "SimSun","宋体";}
input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
textarea { resize:none; }
table { border-collapse:collapse; }
body { color:#333;font:14px/22px "Microsoft YaHei","SimSun","Arial Narrow",HELVETICA; background:#fff;/* overflow-y:scroll;*/ }
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.clearit { clear:both; height:0; font-size:0; overflow:hidden; }
a { text-decoration:none; }
a {outline:none; }     /* for firefox */
a:hover, a:active, a:focus { text-decoration:none; }
.hidden{visibility:hidden;}
.fl{ float: left;}
.fr{ float: right;}
.hide{ display: none;}
i{font-style: normal;}